<div class="row container-fluid">
  <div class="col-sm-6 col-md-9">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark my-3">
      <div class="container-fluid">
        <a class="navbar-brand text-primary" href="#"><i class="fas fa-shield-virus"></i> Covid19</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="contact" routerLinkActive="active">Contactus</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="stats" routerLinkActive="active">Stats</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="cases" routerLinkActive="active">Cases</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="card shadow p-4 my-3">
      <h2 class="text-center text-primary">About us</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, a iste! Nesciunt, quidem! Quidem, perferendis id eum vel facere debitis neque, sequi nobis omnis eaque ratione officia consectetur deleniti ea.</p>
    </div>
    <div class="card shadow p-4">
      <h2 class="text-center">Vaccine Centers</h2>
      <form class="mt-1 mb-2">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="district" placeholder="district" name="district">
            <label for="district">Enter district</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="pincode" placeholder="pincode" name="pincode">
            <label for="pincode">Enter pincode</label>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="p-5 mt-5 bg-dark text-white">
  <h5 class="display-6 text-center">Stay home, stay safe&nbsp;<span class="text-danger"><i class="far fa-heart"></i></span></h5>
</div>