<div id="carouselExampleCaptions" class="x carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
    <!--<div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>-->
    <div class="carousel-inner text-center">
      <div class="carousel-item active">
        <img src="https://www.who.int/images/default-source/health-topics/coronavirus/health-care-facilities_8_1-01.png?sfvrsn=823c9ad5_18">
      </div>
      <div class="carousel-item">
        <img src="https://lmg-labmanager.s3.amazonaws.com/assets/articleNo/22022/iImg/40701/mar20-coronavirus-safety-tips-1800x900.png">
      </div>
      <div class="carousel-item">
        <img src="https://cdn.who.int/media/images/default-source/vaccines-explained/vaccines-explained_topic-9_getting-vaccinated_2_what-to-expect_hd.jpg?sfvrsn=2b8f227_28" style="max-height:454px">
      </div>
    </div>
  </div>
